.navbar{
    background-color: #0a232e;
}
.navbar .navbar-nav .nav-item .nav-link{
    color: white;
    padding-left: 18px;
}
.main{
    height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    border: 1px solid black;
    padding: 20px;
    height: 480px;
}